name: Create release
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  todo:
    name: "Todo"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "This is a placeholder job for CD workflow."