name: CD
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  cd:
    name: "NPM Release"
    environment: NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          save-cache: "true"
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: eternal-baguette
          repositories: "ui-kit"
      - name: Create and publish versions
        uses: changesets/action@v1
        with:
          commit: "chore: update versions"
          commitMode: 'github-api'
          title: "chore: update versions"
          publish: pnpm ci:publish
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }} # Temporary, to be replaced by NPM TP after first publish