name: CI
on:
  pull_request:
  merge_group:

permissions:
  contents: read

env:
  CYPRESS_VERIFY_TIMEOUT: 60000
jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          save-cache: "true"